# Django
DJANGO_DEBUG=True
DJANGO_SECRET_KEY=sua_chave_secreta_aqui
ALLOWED_HOSTS=*,localhost,127.0.0.1
CSRF_TRUSTED_ORIGINS=https://seu-dominio.com,https://www.seu-dominio.com
SECURE_SSL_REDIRECT=False
SESSION_COOKIE_SECURE=False
CSRF_COOKIE_SECURE=False

# Database
DATABASE_URL=postgres://usuario:senha@db:5432/nome_do_banco
REDIS_HOST=redis
REDIS_PORT=6379